{% extends 'core/base.html' %}
{% load static %}
{% block title %}The JobsPortal {% endblock %}
{% block content %}
<!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url({% static 'img/bg-banner2.jpg' %})">
      <div class="container">
        <div class="header-detail">
          <img class="logo" src="{{ job.company.logo.url }}" alt="">
          <div class="hgroup">
            <h1>{{ job.title }}</h1>
            <h3><a href="#">{{ job.company }}</a></h3>
          </div>
          <time datetime="2016-03-03 20:00">{{ job.get_date }}</time>
          <hr>
          <p class="lead">{{ job.short_description }}
          <ul class="details cols-3">
            <li>
              <i class="fa fa-map-marker"></i>
              <span>{{ job.location }}</span>
            </li>

            <li>
              <i class="fa fa-briefcase"></i>
              <span>{{ job.type_of_employment }}</span>
            </li>

            <li>
              <i class="fa fa-money"></i>
              <span>{{ job.salary }}</span>
            </li>

            <li>
              <i class="fa fa-clock-o"></i>
              <span>{{ job.working_hours }}</span>
            </li>

            <li>
              <i class="fa fa-flask"></i>
              <span>{{ job.experience }}</span>
            </li>

            <li>
              <i class="fa fa-certificate"></i>
              <a href="#">{{ job.academic_degree }}</a>
            </li>
          </ul>

          <div class="button-group">
            <ul class="social-icons">
              <li class="title">Share on</li>
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <div class="action-buttons">
              <a class="btn btn-primary" href="#">Apply with linkedin</a>
              <a class="btn btn-success" href="job-apply.html">Apply now</a>
            </div>
          </div>

        </div>
      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>

      <!-- Job detail -->
      <section>
        <div class="container">
          {{ job.job_detail | safe }}
        </div>
      </section>
      <!-- END Job detail -->

    </main>
    <!-- END Main container -->
{% endblock %}